{% extends 'base.html' %}
{% block header_title %}
        <title>About goodcode.co.uk</title>
{% endblock %}

{% block content %}
<div class="post">
    <h1>About this page</h1>
            <div class="body">
                                                         
<p>
Goodcode website is set of code snippets, programming receipts,  tips and tricks I've collected them over the years and thought that putting them on-line can be useful to somebody else.  There is plan for larger open source sub-projects if time allows me.  There will be no advertisements supporting this project. I'll try to add it to kick-starter maybe.  There is strong emphasis on Linux, open source,  Gnu and free as in freedom. 

Everything is open source here. Website source code can be downloaded from github (link in menubar).   Log of progress can be viewed there.  
</p>
</div>
{% endblock %}
