{% extends 'base.html' %}

{% block content %}
<div class="post">
    <h1>How to contact me?</h1>
<div class="body">
                                                     
                <p>
                My email:  arek@goodcode.co.uk<br>
                </p>
		<a href='http://images.goodcode.co.uk/arekatgoodcode_pub_gpg_key.asc'>my gpg public key</a>
<pre style='font: Terminus;'>
-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: GnuPG v2.0.19 (GNU/Linux)

mQINBFBcQbEBEAC/p4edfGK8K8EbGK+rLWokm5Z1ij+yPqvRaZOMSpmfZ7Yh0RjM
mHrsxz6YKe5pWlza7870h8S+uOHJtaAqP12bCPlnvF3PHB2w9ll5u+SRU7qTRhtI
XBwSccbZ/mEfviO00eVmfE9ckoSn46SnanGWsCWdREij1Kzp9Rm+an4ijE5JrtdA
nPDQnlE419zYo2wMvdDyPJ0+5OSxCDI7jkUWhw0Qb4svMECBOcgWWmb3TShbbNXQ
tnu2+HrIPcJuU/6VNcm6HKfU0hIiiCqMF/rx5hUk/85OKmGjE4PCJenSPvuA8aCO
dgazDRTfsO8WVDXepbXASX5zxG/DNJwlKt31Op7C/vJ1ksItGpu5bp1Jcgq+x7q3
u1j6EyH6vzJfAd6YS+jdhwtQaKcqJmXRC5z/Gmn5lQxMg73Ul77cUGFi3NIVlmin
nqPm6oqPwT6S9Fw2r63G4BlSUJVVd+5ciqZBFPc9HylRv1JGYqbBa5OefJFRj5GH
OGdwsN1pkD2OFtvb+XQmSyc0n+4oefHG/XK94Yu2WpIf/6ruSvI3Z2VMks97gPnQ
qxclR0ftL9elBxBe5MHVw/s5yqxkfVw2cAixxtc3bdnc5hl+M7Oh/YbEkF0kdXGe
+QYfjjUZjm/xHshQ5T8OP6lknQFLOG/kQp8mX9EBdgzRQF9Kqjdz0u/PNwARAQAB
tENBcmthZGl1c3ogVHltaWVuaWVja2kgKGh0dHA6Ly9nb29kY29kZS5jby51aykg
PGFyZWtAZ29vZGNvZGUuY28udWs+iQI5BBMBAgAjBQJQXEGxAhsDBwsJCAcDAgEG
FQgCCQoLBBYCAwECHgECF4AACgkQwBUJQl6DNm3GuQ//bTT7KDpy2+pLCOAb6K4z
p1dIPfLj2+zgH/QXpMo0fKpxF7GTZLGBwNRsA4NypVjqw4NJk8DBhda9NXZNMo9c
gdSqkE8b1HoVG/Ud32FM2potTj4foIYfY2F+5pNGdLtBOottrenh/fAb2aDN30hy
XORA9PjM45bEFdWZAANzTMxcBDuDfhWw3MnjrWYkUeI4Rph0HdUmVqHBDsFrID3u
18GJdBwPMnf5TuhsbL0W3BR312Ls9LBepO73CbEhxxEeZhm8gwmCr2xqOou9Y945
tbqdcW6DLiceilnzsHERDM2KbeAyomWKnkeJAlhVTYSVJBdy0C7DKOTVRApt/vo5
AFsHa3tAaPW6gCcWE9ZUX3xIgwp3gQk0w770Nu38f+69WmQQuF8Wx++y3y3AQ4RF
0IcE1n88v3eDK8ElA25ZDWH96XC+pEoXML5bYfprmwK0Ok/+yju0qkSRLfMlH4Qu
YBZOO5AIfxTuUvom8Zky8WPJ2DVT+z19awpBmF63ANxK3ek71dDeV4fm2Q04PJc1
+mRdL5t0x36kycbMDe0YywVGmVV8RmLTYGly51Q2dd3tXL6GbQbApirLhIxvVO5J
hWnmJph+PgTvRC80ZAu3A/GwJzp+UTKUz1Qq5NNvlCnxVRJ0xch/F2u2msf9oqiQ
8r7SFmzWwjo7E0PvBhCrYVC5Ag0EUFxBsQEQAOUI8GAxvFfZgGnPLxRW4mPx4/lo
c93WlnEmf7KS1KHIpUy80OfrTCpdtfhV6JARB8Z5K5vNbYqmCtd2ZfaIwS+Vd9k+
hLCdHo/T6HVHEjivS6jKq8xiXltiO8v4bK8T4AxPxnrZn43TKsHr8Olev5c86Z9E
vUmPIY/Z+/m+A+0RtPVM30i13jyfkiu9fw5VfaYFHDrtnB85WKMhsD9k/XvuLpVf
IlMIkk5saQvIOPCGTY3CQ+/Nbs6oWwCKYlmUT4NsMc8OiW5CaXavkP5ZVkO0Rlue
2FjnKmv8D+zidBoxB8VSI7e/kh6PHkTEDzOv/3yxaVRVKZLkbR97OBfVeJlerRre
6vdquAyR5jyp1CUNoUZb8Vm/R8BiBLHTTlQHLLJWVYWjPCkGJsXwYwqgn9htlBd+
pxjtCkYoGJmDl6Pb7t0PNok2apws4d+zck/1qfrO20zIhPWLU8r+N9KU+g/sa4lL
fv2YzQ4D/9r4LCkpTCt5jwUHt+DXo/lifttlJ+9DG+qVwJLLnlxMGXtUeYBXWHVC
3jZ+xnCf8No4aKeFb+NcxHaopbPivoOWV7cU+tmiJ0eigK7miivUlKZwXb8mi6+P
cCsuH+ym+szoraIEecoFwIXYXvJ2m4BCeDGthcIJVI2/5jHc+Z3lno9rP0vKW4q8
Hp9OG1SZof0gAvJxABEBAAGJAh8EGAECAAkFAlBcQbECGwwACgkQwBUJQl6DNm2q
NxAAgWNCEGC9XfO+0JLW4AUcTua6jOG8JEukxCqsi27oF9pa/Pa2x04DP69psBBC
yfk774w/X3GrUS6b9+N8SN2sfnaQ3Gnj8ecz9FFjJ7cDG9aRyQnKbnaYfO5qTwJk
0BCII/yGMyqTt/SRSkKamRzCjtv9DIaPxeiy+RV2XRvCVCiOB3Wt7HCkHvsOCmLR
A4ST39A52KY0uj7OaLDYd5UhTeUy0CXKTaKqFEwYzMARQ7V5TIiydeTvre0X248g
LcLAZ33K07BE1QtKxvmLszKVMutPXp91hbRWvygrlXUDgpzJEVBoWcma3snFzy1l
5Yobkt4Osn0RQ8b+51OQ9HJu9aLMpaoa1rwpDlZpYh1lmRFZmYJVLhh5+SLnNtxc
SnJzh+dTmHvDYJjM7HzZkIhQbbO8dF4qCh+Rnr+mvnI5cisYhAHwAt00IHDBGk1S
drDDi7CNuZxQyGKWmQOFosVDVMETIJkXLJZLveOVjawZnz7xPi6pjv9yQqP/tSPO
V5hHGGELaKqsQKAHt5bMmAjv0b241l1isaiOF9yJ/iiTdrGea10KN0BhNF+wgXen
qyQUw2boc8mcSg4/sTDFxasH84g4Ol6pYLs1f8RJ61l912PAqQ6h7rwj3oUzaLtk
NSMLsGfRK7VR3JEDuOAanvOtlJ4n43VJtOs1FK30MOs3aP4=
=GnbV
-----END PGP PUBLIC KEY BLOCK-----
</pre>
   </div>
{% endblock %}
