{% extends "photographs/base.html" %}
{% load image_thumbnails %}
              {% block navbar %}
            <ul class="nav">
                <li><a href="/about" title="about">about</a></li>
                <li class="active"><a href="/photographs" title="photographs">photographs</a></li>
                <li><a href="/contact" title="contact">contact</a></li>
                <li><a href="/latest.rss" title="subscribe">subscribe</a></li>
            </ul>
              {% endblock %}

{% block content %}
<ul style='width:65%;margin:auto;'>
{% for album in albums %}

    <li>
        <a href='/photographs/album/{{album.slug}}'>
		<div style='clear:both;'>
		{% gen_album_thumbs album %}
		</div>
            <b style='clear:both;'>{{album.name}}</b>
        </a>
    </li>

{% endfor %}
   </ul>
<br />
<br />
<br />
<br />
<br />
<a href='/'>back to frontpage</a>
{% endblock %}

