{% extends "photographs/base.html" %}
{% load thumbnail %}

{% block content %}
<h2> {{ album.name }} </h2>
<br />
<br />
<br />
<div style='width:100%;clear: both;'>
{% for photograph in photographs %}
  {% thumbnail photograph.image.url '200x200' as image %}
    <div class='photograph' style='float:left;margin:5px;'>
	<a href='/photographs/photograph/{{ photograph.slug }}'>
	<img class='thumb' src="{{ image.url }}"  alt="{{ photograph.name }}" width="{{ image.width }}" height="{{ image.height }}" />
	</a>
    </div>
  {% endthumbnail %}
{% endfor %}
</div>
<br />
<br />
<br />
<div style='width:100%;clear:both;'>
	<a href='/photographs' style='clear:both;'>Back to album index</a>
</div>
{% endblock %}

