{% extends "photographs/base.html" %}
{% load thumbnail %}
{% block title %} {{ photograph.name }} {% endblock %}
{% block content %}

  {% thumbnail photograph.image.url '800x800' as image %}
   <ul>
    <li id='prev_photo' style='float:left;margin-top:100px;'><a href=''><img src='/static/img/prev.png'/></li>
    <li style='float:left;'><img src='{{ image.url }}' /> </li>
    <li id='next_photo' style='float:left;margin-top:100px;'><a href=''><img src='/static/img/next.png'/></li>
    <div style='float:left;clear:both'><a href='{{ photograph.url}}' alt={{ photograph.name }} > Download</a> </div>
   </ul>
</div>
  {% endthumbnail %} 
{% endblock %}

